.navbar {
    background-color: #1D1E33;
}

.singout-btn {
    background-color: transparent;
    color: rgba(255, 254, 255, 0.7);
    border-radius: 20px;
    padding: 10px;
    border: 1px solid rgba(255, 254, 255, 0.7);
    font-size: 13px;
}