.supplier-container {

    max-width: 600px;
    border: 2px solid rgb(236, 225, 254);
    background-color: rgb(246, 241, 252);
    border-radius: 5px;
    padding: 16px;
    margin: 16px 0
}

.supplier-container::after {
    content: "";
    clear: both;
    display: table;
}

.supplier-container img {
    float: left;
    margin-right: 20px;
    border-radius: 50%;
}

.supplier-container span {
    font-size: 20px;
    margin-right: 15px;
}

@media (max-width: 500px) {
    .supplier-container {
        text-align: center;
    }

    .supplier-container img {
        margin: auto;
        float: none;
        display: block;
    }
}