@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer-container {
    width: min(1600px, 95%);
    margin: auto;
    font-family: 'poppins', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}


.footer {
    background: #7845F9;
    padding: 80px 0 40px 0;
}

.main-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

@media only screen and (max-width:768px) {
    .single_footer {
        margin-bottom: 30px;
    }
}

.single_footer h4 {
    color: rgba(255, 254, 255, 0.9);
    margin-top: 0;
    margin-bottom: 25px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 20px;
}

.single_footer h4::after {
    content: "";
    display: block;
    height: 2px;
    width: 40px;
    background: rgba(255, 254, 255, 0.9);
    margin-top: 20px;
}

.single_footer p {
    color: rgba(255, 254, 255, 0.9);
}

.single_footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}


.single_footer ul li a {
    color: rgba(255, 254, 255, 0.9);
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    line-height: 36px;
    font-size: 15px;
    text-transform: capitalize;
}

.single_footer ul li a:hover {
    color: #fff;
}

.single_footer_address ul li {
    color: rgba(255, 254, 255, 0.9);
}

.single_footer_address ul li span {
    font-weight: 400;
    color: rgba(255, 254, 255, 0.9);
    line-height: 28px;
}

.contact_social ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

button {
    padding: 0;
    border: none;
    background-color: transparent;
}

.social_profile {
    margin-top: 40px;
}

.social_profile ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.social_profile ul li {
    float: left;
}

.social_profile ul li a {
    text-align: center;
    border: 0px;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    margin: 0px 5px;
    font-size: 18px;
    color: rgba(255, 254, 255, 0.9);
    border-radius: 30px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    display: block;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

@media only screen and (max-width:768px) {
    .social_profile ul li a {
        margin-right: 10px;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width:480px) {
    .social_profile ul li a {
        width: 40px;
        height: 40px;
        line-height: 40px;
    }
}

.social_profile ul li a:hover {
    background: transparent;
    border: none;
    color: rgba(255, 254, 255, 0.9);
    border: 0px;
}

/*END SOCIAL PROFILE CSS*/
.copyright {
    margin-top: 70px;
    padding-top: 40px;
    color: rgba(255, 254, 255, 0.9);
    font-size: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    text-align: center;
}

.copyright a {
    color: #fff;
    transition: all 0.2s ease 0s;
}